:root {
   --green-500: hsl(158, 36%, 37%);
   --green-900: hsl(158, 42%, 18%);
   --black: hsl(212, 21%, 14%);
   --grey: hsl(228, 12%, 48%);
   --cream: hsl(30, 38%, 92%);
   --white: hsl(0, 0%, 100%);
}


*, *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
